{% extends 'basee.html' %}
{% block title %}Обратная связь{% endblock %}

{% block body %}
<h2>Связаться с нами</h2>


<div class="col-lg-8">
    <form class = "form-contact contact_form" action="" method="post" id="contactForm" novalidate="novalidate">
        {% csrf_token %}
        {% if success %}
            <p style="color: green;">✅ Ваше сообщение успешно отправлено!</p>
        {% endif %}
        <div class="col-6">
            {% if form.name.errors %}
                <div class="alert alert-danger">
                    <strong>{{form.name.errors}}</strong>
                </div>
            {% endif %}
            <div class="form-group">
                {{ form.name }}
            </div>
        </div>
    <div class="col-sn-6">
        {% if form.email.errors %}
            <div class="alert alert-danger">
                <strong>{{form.email.errors}}</strong>
            </div>
        {% endif %}
        <div class="form-group">
            {{ form.email }}
        </div>
    </div>
    <div class="col-sn-12">
        {% if form.message.errors %}
            <div class="alert alert-danger">
                <strong>{{form.message.errors}}</strong>
            </div>
        {% endif %}
        <div class="form-group">
            {{ form.message }}
        </div>
    </div>
    <button type="submit">Отправить</button>
    </form>
</div>

{% endblock %}
