{% extends 'basee.html' %}
{% block title %}Обратная связь{% endblock %}

{% block body %}
<h2>Связаться с нами</h2>


<div>
    <form action="" method="post" id="contactForm" novalidate="novalidate">
        {% csrf_token %}
        {% if success %}
            <p style="color: white;"> Ваше сообщение отправлено! С вами скоро свяжутся.</p>
        {% endif %}
        <div>
            {% if form.name.errors %}
                <div>
                    <strong>{{form.name.errors}}</strong>
                </div>
            {% endif %}
            <div>
                {{ form.name }}
            </div>
        </div>
    <div>
        {% if form.email.errors %}
            <div>
                <strong>{{form.email.errors}}</strong>
            </div>
        {% endif %}
        <div>
            {{ form.email }}
        </div>
    </div>
    <div>
        {% if form.message.errors %}
            <div>
                <strong>{{form.message.errors}}</strong>
            </div>
        {% endif %}
        <div>
            {{ form.message }}
        </div>
    </div>
    <button>Отправить</button>
    </form>
</div>

{% endblock %}
